<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        position: absolute;
        left: 25px;
        right: 25px;
        top: 25px;
        bottom: 25px;
        background-color: darkslategray;
      }
      .round {
        border-radius: 10px;
      }
      .xround {
        border-radius: 25px;
      }
      .classic {
        background-color: rgb(47, 47, 47);
        color: antiquewhite;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
      }
      .link-dark {
        color: rgb(122, 223, 198)
      }
    </style>
    <style>
      h1 {
        position: relative;
        top: 35px;
        left: 15px;
        font-size: 54px;
        margin-bottom: 50px;
      }
      p {
        color: antiquewhite;
        position: relative;
        left: 15px;
      }
      .button {
        position: relative;
        top: 45px;
        left: 35px;
        margin: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        vertical-align: center;
        text-decoration: none;
      }
      footer {
        position: absolute;
        bottom: 10px;
        right: 15px;
      }
    </style>
  </head>
  <body>
    <div class="round container">
      <h1>
        Veuillez vérifier votre e-mail.
      </h1>
      <p>Cet e-mail automatique vous a été envoyé pour que vous vérifiez l'appartenence de cette adresse.</p></br>
      <p>Si vous ne vous êtes pas inscri au services Cuddlygram, contactez imédiatement <a class="link-dark" href="mailto:admin@cuddlygram.tk">admin@cuddlygram.tk</a></p></br>
      <a href="<%= verifUrl %>" class="xround classic button">Vérifier l'e-mail</a>
      <footer>
        CuddlyGram by Clifton Reid
      </footer>
    </div>
  </body>
</html>